@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --header-bg-color: #1F2937;
  --header-main-size: 48px;
  --header-font-weight: bolder;
  --header-main-color: #F9FAF8;

  --header-sec-size: 18px;
  --header-sec-color: #E5E7EB;
  --logo-size: 24px;

  --btn-color: #3882F6;
  --info-header-size: 36px;
  --info-header-weight: bolder;
  --info-header-color: #1F2937;

  --quote-bg-color: #E5E7EB;
  --quote-size: 36px;
  --quote-weight: light;
  --quote-style: italic;
  --quote-color: #1F2937;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--header-bg-color);
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 15em;
}

a {
  text-decoration: none;
  font-size: var(--header-sec-size);
  color: var(--header-sec-color)
}

.logo {
  font-size: var(--logo-size);
  color: var(--header-sec-color);
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 2em;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 5em 15em;
}

.site-description > h1 {
  font-size: var(--header-main-size);
  font-weight: var(--header-font-weight);
  color: var(--header-main-color);
}

.site-description > p {
  font-size: var(--header-sec-size);
  color: var(--header-main-color);
}

.site-description > * {
  padding-bottom: .5rem;
}

button {
  font-size: var(--header-sec-size);
  background-color: var(--btn-color);
  color: var(--header-main-color);
  border-style: none;
  border-radius: .5em;
  padding: .5em 2em;
}

main > img {
  background-color: var(--quote-bg-color);
  width: 30vw;
  height: 30vh;
}