@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/****************************** MAIN HEADER ********************************************/

header {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 15em;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  padding: 20px;
}

li > a:hover {
  background-color: #F9FAF8;
  color: #3882F6;
}

.logo {
  font-size: 24px;
  color: #E5E7EB;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-left: 2em;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 5em 15em;
  gap: 1rem;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.site-description > p {
  font-size: 18px;
  color: #F9FAF8;
}

.site-description > * {
  padding-bottom: .5rem;
}

button {
  font-size: 18px;
  background-color: #3882F6;
  color: #F9FAF8;
  border-style: none;
  border-radius: 5px;
  padding: .5em 2em;
}

button:hover {
  background-color: #F9FAF8;
  color: #3882F6;
  border: 1px solid #3882F6;
}

main > img {
  background-color: #E5E7EB;
  width: 40vw;
}

/****************************** LESSONS SECTION ********************************************/

.guitar-lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 15em;
  gap: 2em;
}

.guitar-lessons > h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.lesson {
  display: flex;
  justify-content: space-evenly;
  gap: 10em;
  padding-top: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  flex: 1 1 0;
  gap: 10px;
  transition: all .2s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card > h3, p {
  font-size: 18px;
  color: #1F2937;
}

.card > img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border: 5px solid #3882F6;
}

/****************************** QUOTE SECTION ********************************************/

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  padding: 5em 15em;
}

.quote > p:nth-child(1) {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  margin-bottom: 1em;
}

.quote > p:nth-child(2) {
  text-align: right;
}

/****************************** SIGN-UP ********************************************/

